.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .enrollButton {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #5469c1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .profileList {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 10px; /* 카드 사이의 간격 */
  }
  
  .profileCard {
    flex: 1 1 calc(50% - 10px); /* 2열로 나눠지게 설정, 카드 간격 고려 */
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer; /* 커서를 보이게 해서 클릭 가능한 것처럼 인지하도록 함 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 배경색과 그림자가 그라데이션 변화 */
  }
  
  .profileCard:hover {
    background-color: #f0f0f0; /* 마우스를 올렸을 때 배경색 변경 */
  }
  