.mypage-container {
    font-family: 'DungGeunMo';
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 400px;
    text-align: center;
    height: 100vh;
  }
  
  .mypage-header {
    font-family: 'DungGeunMo';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .mypage-edit-button {
    padding: 10px 15px; 
    border-radius: 5px;
    font-family: DungGeunMo;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    }
  
  .mypage-profile-card {
    font-family: 'DungGeunMo';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .mypage-name-section {
    text-align: left;
  }
  
  .mypage-avatar {
    border-radius: 50%;
    overflow: hidden;
  }
  
  .mypage-avatar-image {
    width: 80px;
    height: 80px;
  }
  
  .mypage-interests {
    font-family: 'DungGeunMo';
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap; 
  }
  
  .mypage-interest {
    display: inline-block; 
    padding: 6px 10px; 
    background-color: #f0f0f0; 
    color: #333; 
    border-radius: 20px; 
    font-size: 15px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
    margin-right: 10px;
  }
  
  
  .mypage-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .mypage-footer-button {
    font-family: 'DungGeunMo';
    background: #f6f6f6;
    color: rgb(45, 45, 45);
    cursor: pointer;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px; 
    padding: 10px 15px; 
    font-size: 12px;
  }

  .mypage-section-header {
    display: inline-block;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    font-size: 21px;
  }
  