.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #E5E1D2; 
  }
  
  .splash-screen img {
    width: 200px; 
    height: auto; 
    object-fit: contain; 
  }
  
  .logo-text {
    font-size: 40px;
    color: #234555;
    border: none;
    font-family: "DungGeunMo";
    margin: 0;
    padding: 0;
  }